<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="TrustedNetworks" value="bob,tom,mike,NETGEAR71-5G"/>
    <add key ="NoTrustTime" value="300000"/>
    <add key ="TrustedTime" value="0"/>
  </appSettings>
</configuration>